.header, .hero, .body, .bar, .footer {
	background-color: teal;
	margin-bottom: 10px;
}
.box {
	text-align: center;
	margin: 10px 0;
	min-width: 80px;
	background-color: red;
	font-size: 30px;
	color: white;
}
.red {
	background-color: lime;
}
.five {
	background-color: blue;
}